<table class="bx-gadgets-info-site-table" cellspacing="0">
    <tbody>
    <tr>
        <td class="bx-gadget-gray">Создатель сайта:</td>
        <td>Интернет агентство Legancy.ru</td>
        <td class="bx-gadgets-info-site-logo" rowspan="5">
            <img src="https://legancy.ru/images/logo-black.svg" style="padding-right:10px; width: 250px" alt="">
        </td>
    </tr>

    <tr>
        <td class="bx-gadget-gray">Адрес сайта:</td>
        <td><a href="https://legancy.ru/" target="_blank">https://legancy.ru/</a></td>
    </tr>

    <tr>
        <td class="bx-gadget-gray">Сайт сдан:</td>
        <td>10 марта 2020 г.</td>
    </tr>

    <tr>
        <td class="bx-gadget-gray">Ответственное лицо:</td>
        <td>Денис Богданов</td>
    </tr>

    <tr>
        <td class="bx-gadget-gray">E-mail:</td>
        <td>info@legancy.ru</td>
    </tr>
    </tbody>
</table>
<br>
