/*
.foo {
  @include center(both);
}
.foo-parent {
  position: relative;
}*/
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%; }

*,
*::before,
*::after {
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important; }

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 320px;
    min-height: 100%;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden;
    background: #000000;
    font-family: "GothamPro", sans-serif; }
body.no-scroll {
    overflow-y: hidden; }

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }

img {
    max-width: 100%; }

textarea:focus,
input:focus,
button {
    outline: none; }

.container {
    width: calc(100% - 50px);
    min-width: calc(320px - 10px);
    max-width: calc(1400px);
    padding: 5px;
    margin: auto; }
@media all and (max-width: 1450px) {
    .container {
        max-width: 1200px; } }

a {
    color: #ffffff;
    -webkit-transition: color 400ms;
    transition: color 400ms;
    text-decoration: none; }
a:hover {
    color: #c5a262; }

@font-face {
    font-family: "GothamPro";
    src: local("GothamPro-Regular"), url("/local/templates/yanicode/assets/fonts/GothamPro/GothamPro.woff2") format("woff2"), url("./fonts/GothamPro/GothamPro.woff") format("woff"), url("./fonts/GothamPro/GothamPro.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
    font-display: fallback; }

@font-face {
    font-family: "GothamPro-Bold";
    src: local("GothamPro-Bold"), url("/local/templates/yanicode/assets/fonts/GothamPro/GothamPro-Bold.woff2") format("woff2"), url("./fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("./fonts/GothamPro/GothamPro-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: bold;
    font-display: fallback; }

.popup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    z-index: -1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out; }
.popup_open {
    opacity: 1;
    z-index: 1100; }
.popup_hide {
    opacity: 1;
    z-index: 1100;
    background: rgba(30, 30, 30, 0); }
.popup_hide .popup__content-wrap {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0; }
.popup_open {
    background: #1e1e1e; }
.popup_open .popup__content-wrap {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }

.popup__wrap {
    width: 100%;
    max-height: 100vh; }

.popup__content-wrap {
    padding: 16px;
    color: #ffffff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    overflow: hidden;
    background-color: #141414;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    text-align: center;
    max-width: 772px;
    opacity: 0; }

.popup__title {
    font-size: 18px;
    line-height: normal;
    color: #ffffff;
    font-family: "GothamPro-Bold", sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto 20px auto; }

.popup__logo-fixed {
    position: absolute;
    top: 24px;
    left: 16px;
    z-index: 1; }

.popup__close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    z-index: 16;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out; }
.popup__close:hover span {
    background-color: #c5a262; }
.popup__close_1, .popup__close_2 {
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 3px;
    background: white;
    position: absolute;
    right: 0;
    top: 6px; }
.popup__close_1 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.popup__close_2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

@media (min-width: 500px) {
    .popup__wrap {
        margin: 16px;
        width: initial; }
    .popup__content-wrap {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 40px 100px; }
    .popup__logo-fixed {
        display: none; }
    .popup .login-form {
        width: 402px; }
    .popup__title {
        text-align: center;
        margin: 0 0 48px 0;
        font-size: 25px;
        white-space: nowrap; }
    .popup__close {
        position: fixed;
        right: 58px;
        top: 40px;
        cursor: pointer; }
    .popup__close_1, .popup__close_2 {
        width: 32px;
        top: 14px; } }

@media (min-width: 769px) {
    .popup_open {
        background: rgba(0, 0, 0, 0.78); } }

.scroll-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #1e1e1e;
    position: fixed;
    top: calc(50% - 50px);
    right: 0;
    z-index: 190;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    cursor: pointer; }
@media all and (max-width: 767px) {
    .scroll-top {
        display: none; } }
.scroll-top_show {
    opacity: 1;
    pointer-events: auto; }
.scroll-top svg {
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

@media (max-width: calc(1400px) - 1px170px) {
    .scroll-top {
        display: none; } }

.footer-wrapper {
    padding: 60px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
@media all and (max-width: 1225px) {
    .footer-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px 0; } }

.footer__law {
    text-align: right;
    width: 232px;
    color: #ffffff;
    font-size: 10px;
    line-height: 10px; }
@media all and (max-width: 767px) {
    .footer__law {
        width: auto;
        max-width: 100%; } }

.footer__logo {
    width: 232px; }
@media all and (max-width: 1225px) {
    .footer__logo {
        width: auto;
        max-width: 100%;
        margin-bottom: 20px; } }

.footer__feedback {
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
@media all and (max-width: 1225px) {
    .footer__feedback {
        margin-bottom: 20px; } }
@media all and (max-width: 767px) {
    .footer__feedback {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

.footer__networks {
    margin: 0 67px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.footer__networks > a {
    margin: 0 8px; }
@media all and (max-width: 767px) {
    .footer__networks {
        margin: 10px 0 30px 0; } }

.footer__mail,
.footer__phone {
    font-size: 14px;
    line-height: 19px; }
@media all and (max-width: 1225px) {
    .footer__mail,
    .footer__phone {
        width: 172px; } }
@media all and (max-width: 767px) {
    .footer__mail,
    .footer__phone {
        width: auto;
        font-size: 20px;
        line-height: 19px;
        margin-bottom: 20px; } }

.header {
    z-index: 3;
    position: fixed;
    width: 100%;
    background: #000000; }

@media all and (max-width: 767px) {
    .header__logo > img {
        width: 150px;
        height: 46px; } }

.header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: calc(51px - 5px) 0 20px 0; }
@media all and (max-width: 1450px) {
    .header-wrapper {
        padding: calc(30px - 5px) 0 20px 0; } }
@media all and (max-width: 1225px) {
    .header-wrapper {
        padding: 15px 0 15px 0; } }
@media all and (max-width: 767px) {
    .header-wrapper {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start; } }

.header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -27px; }
@media all and (max-width: 1225px) {
    .header-nav {
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0; } }

.header__burger {
    display: none; }
@media all and (max-width: 1225px) {
    .header__burger {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 40px;
        height: 40px;
        z-index: 4;
        position: relative; } }

.burger-line {
    width: 100%;
    height: 3px;
    background: #ffffff;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms; }

.nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
@media all and (max-width: 1225px) {
    .nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 40px; } }

.nav-list__item {
    color: #ffffff;
    text-decoration: none;
    margin: 0 28px;
    font-size: 16px;
    line-height: 19px;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
.nav-list__item:last-of-type {
    margin-right: 0; }
.nav-list__item:first-of-type {
    margin-left: 0; }
.nav-list__item_active {
    color: #740606; }
@media all and (max-width: 1450px) {
    .nav-list__item {
        margin: 0 20px;
        font-size: 14px; } }
@media all and (max-width: 1225px) {
    .nav-list__item {
        margin: 20px 0; } }

.header__phone {
    margin-left: 73px;
    font-size: 16px;
    line-height: 19px; }
@media all and (max-width: 1450px) {
    .header__phone {
        margin-left: 35px;
        font-size: 14px; } }
@media all and (max-width: 1225px) {
    .header__phone {
        margin-left: 0;
        margin-top: auto; } }

.nav-mobile .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    padding: 33px 30px 55px 30px;
    height: calc(100vh - 33px - 55px);
    width: calc(100vw - 60px);
    z-index: 3;
    background: #000000;
    -webkit-transition: right 400ms;
    transition: right 400ms;
    max-width: 500px; }

.nav-mobile_open .header-nav {
    right: 0; }

.nav-mobile_open .burger-line:first-of-type {
    margin-top: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.nav-mobile_open .burger-line:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.nav-mobile_open .burger-line:last-of-type {
    display: none; }

.nav-mobile_open .header__burger_close::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 560px);
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1; }

.nav-mobile_close .header-nav {
    right: -100%; }

.nav-mobile_close .burger-line {
    margin-top: 8px; }
.nav-mobile_close .burger-line:first-of-type {
    margin-top: 0; }

.button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.button-wrapper_center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
.button-wrapper_space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
@media all and (max-width: 1225px) {
    .button-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
@media all and (max-width: 767px) {
    .button-wrapper {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; } }

.button {
    padding: 15px 10px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: "GothamPro-Bold", sans-serif;
    min-width: 420px;
    -webkit-transition: all 400ms;
    transition: all 400ms; }
.button_gold {
    background: #c5a262;
    border: 1px solid #c5a262; }
.button_gold:hover {
    background: #ffffff;
    color: #000000; }
.button_white {
    background: #ffffff;
    border: 1px solid #c5a262; }
.button_white:hover {
    background: #c5a262;
    color: #000000; }
.button_gray {
    border: 1px solid #9c9c9c;
    background: #2e2e2e;
    color: #ffffff; }
.button_gray:hover {
    border-color: #c5a262;
    color: #c5a262; }
.button_modal-gold {
    background: #c5a262;
    border: 1px solid #c5a262;
    color: #ffffff; }
.button_modal-gold:hover {
    background: #ffffff;
    color: #000000; }
@media all and (max-width: 1450px) {
    .button {
        min-width: 315px;
        font-size: 16px;
        margin-bottom: 20px; } }
@media all and (max-width: 767px) {
    .button {
        width: calc(100% - 32px);
        padding: 15px 16px;
        font-size: 14px;
        min-width: initial; } }

.container-title {
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 36px;
    line-height: 38px;
    color: #c5a262;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin: 0;
    padding-bottom: 120px; }
.container-title_small-margin {
    padding-bottom: 20px; }
@media all and (max-width: 767px) {
    .container-title {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 20px; } }

.text {
    margin: 0; }
.text_white {
    color: #ffffff; }
.text_gold {
    color: #c5a262; }

.banner {
    width: 100%;
    margin: 0 0 110px 0;
    padding: 200px 0 110px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 255px); }
.banner_no-text {
    height: calc(100vw / 6); }
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1; }
.banner_before1::before {
    background: rgba(0, 0, 0, 0.2); }
.banner_before54::before {
    background: rgba(0, 0, 0, 0.54); }
.banner_before49::before {
    background: rgba(0, 0, 0, 0.49); }
.banner_before3::before {
    background: rgba(0, 0, 0, 0.3); }
.banner_before05::before {
    background: rgba(0, 0, 0, 0.05); }
@media all and (max-width: 1450px) {
    .banner {
        margin: 0 0 100px 0;
        padding: 174px 0 100px 0; } }
@media all and (max-width: 767px) {
    .banner {
        margin: 90px 0 30px 0;
        padding: 0 0 13px 0;
        background-position: right;
        min-height: initial; } }

.banner__content {
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
    position: relative;
    z-index: 2;
    font-family: "GothamPro-Bold", sans-serif; }
@media all and (max-width: 1450px) {
    .banner__content {
        font-size: 36px;
        line-height: 38px; } }
@media all and (max-width: 767px) {
    .banner__content {
        font-size: 16px;
        line-height: 24px; } }

.banner-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
@media all and (max-width: 767px) {
    .banner-wrapper {
        min-height: initial; } }

.stages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    margin-top: 50px; }
@media all and (max-width: 1450px) {
    .stages {
        margin-top: 0;
        margin-left: -16px; } }

.stages__item {
    text-align: center; }
@media all and (max-width: 767px) {
    .stages__item {
        width: 66px;
        min-width: 66px; } }

.stages__step {
    font-size: 96px;
    line-height: 92px;
    color: #ffffff;
    margin-bottom: 7px;
    font-family: "GothamPro-Bold", sans-serif; }
@media all and (max-width: 1450px) {
    .stages__step {
        font-size: 74px;
        line-height: 82px; } }
@media all and (max-width: 1225px) {
    .stages__step {
        font-size: 70px; } }
@media all and (max-width: 767px) {
    .stages__step {
        font-size: 36px;
        line-height: 44px; } }

.stages__desc-step {
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.3em;
    color: #ffffff;
    font-weight: 100;
    text-transform: uppercase; }
@media all and (max-width: 1225px) {
    .stages__desc-step {
        font-size: 12px; } }
@media all and (max-width: 767px) {
    .stages__desc-step {
        font-size: 6px; } }

.approach {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
@media all and (max-width: 767px) {
    .approach {
        display: none; } }

.approach-space {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    max-width: 742px; }

.approach__title {
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #c5a262;
    width: 320px;
    text-transform: uppercase; }
.approach__title_align-right {
    text-align: right;
    margin-right: 30px; }
@media all and (max-width: 767px) {
    .approach__title_align-right {
        margin-right: 10px; } }
.approach__title_align-center {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px; }
@media all and (max-width: 767px) {
    .approach__title_align-center {
        margin-bottom: 10px; } }
.approach__title_align-left {
    text-align: left;
    margin-left: 30px; }
@media all and (max-width: 767px) {
    .approach__title_align-left {
        margin-left: 10px; } }
@media all and (max-width: 1225px) {
    .approach__title {
        font-size: 22px; } }
@media all and (max-width: 767px) {
    .approach__title {
        font-size: 14px;
        line-height: 18px;
        width: 105px; } }

.approach-desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1424px;
    margin: -4px auto 0 auto; }
@media all and (max-width: 767px) {
    .approach-desc {
        margin: 0 auto 0 auto; } }

.approach-desc__item {
    padding-bottom: 50px;
    color: #c5a262;
    font-size: 20px;
    line-height: 27px;
    font-weight: 100; }
.approach-desc__item:nth-child(odd) {
    margin-left: calc(50% - 1.5px);
    padding-left: 36px;
    text-align: left; }
.approach-desc__item:nth-child(even) {
    margin-right: calc(50% - 1.5px);
    padding-right: 36px;
    text-align: right; }
.approach-desc__item:first-of-type {
    padding-top: 120px; }
.approach-desc__item:last-of-type {
    padding-bottom: 100px; }
@media all and (max-width: 767px) {
    .approach-desc__item {
        font-size: 16px;
        width: 100%;
        line-height: 20px;
        background: #000000; }
    .approach-desc__item:nth-child(odd) {
        margin-left: 0;
        padding-left: 0;
        border: none; }
    .approach-desc__item:nth-child(even) {
        margin-right: 0;
        padding-right: 0;
        border: none;
        text-align: left; }
    .approach-desc__item:first-of-type {
        padding-top: 40px; }
    .approach-desc__item:last-of-type {
        padding-bottom: 40px; } }

.js-vertica-line,
.js-horizontal-line {
    position: relative; }
.js-vertica-line::after,
.js-horizontal-line::after {
    content: "";
    position: absolute;
    background: #c5a262;
    -webkit-transition: all 2s;
    transition: all 2s; }
.js-vertica-line > svg,
.js-horizontal-line > svg {
    -webkit-transition: opacity 1.6s;
    transition: opacity 1.6s;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s; }
@media all and (max-width: 767px) {
    .js-vertica-line::after,
    .js-horizontal-line::after {
        display: none; } }

.js-horizontal-line {
    overflow: hidden; }
.js-horizontal-line > svg {
    margin-bottom: -8px;
    opacity: 0; }
.js-horizontal-line::after {
    right: 8px;
    left: 7px;
    bottom: 0;
    height: 3px;
    width: 0; }
.js-horizontal-line.animate > svg {
    opacity: 1; }
.js-horizontal-line.animate::after {
    width: calc(100% - 15px); }
@media all and (max-width: 767px) {
    .js-horizontal-line > svg {
        margin-bottom: 0;
        opacity: 1; } }

.js-vertica-line::after {
    top: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 3px; }

.js-vertica-line.animate::after {
    height: 100%; }

.client {
    padding-top: 217px; }
@media all and (max-width: 767px) {
    .client {
        padding-top: 60px; } }

.client__images {
    width: 100%;
    margin-top: -136px; }
@media all and (max-width: 767px) {
    .client__images {
        margin-top: -30px; } }

.client-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 130px 0; }
@media all and (max-width: 767px) {
    .client-deck {
        margin: 40px 0 0 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

.client-deck__item {
    width: 320px;
    text-align: center;
    color: #c5a262;
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 34px;
    line-height: 34px; }
.client-deck__item > .quantity {
    font-size: 150px;
    line-height: 155px; }
@media all and (max-width: 1225px) {
    .client-deck__item {
        font-size: 20px;
        line-height: 30px; }
    .client-deck__item > .quantity {
        font-size: 104px;
        line-height: 107px; } }
@media all and (max-width: 767px) {
    .client-deck__item {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 40px; }
    .client-deck__item > .quantity {
        font-size: 104px;
        line-height: 107px; } }

.services-cover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 115px; }
@media all and (max-width: 767px) {
    .services-cover {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 50px; } }

.services {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    margin-bottom: 40px; }
@media all and (max-width: 767px) {
    .services {
        width: 100%;
        max-width: 100%;
        min-width: 100%; } }

.services__title {
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 34px;
    line-height: 38px;
    color: #c5a262;
    margin: 0 0 10px 0;
    text-transform: uppercase; }
@media all and (max-width: 767px) {
    .services__title {
        font-size: 22px;
        line-height: 24px; } }

.services-category {
    margin-bottom: 30px; }

.services__item {
    font-size: 26px;
    line-height: 102.7%;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 3px;
    cursor: pointer; }
.services__item:hover {
    color: #c5a262; }
@media all and (max-width: 767px) {
    .services__item {
        font-size: 18px;
        line-height: 20px; } }

.portfolio-filter {
    margin-bottom: 140px; }
@media all and (max-width: 767px) {
    .portfolio-filter {
        margin-bottom: 40px; } }

.portfolio-filter__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: bold; }
.portfolio-filter__line_small {
    font-size: 16px;
    line-height: 21px; }
.portfolio-filter__line_middle {
    font-size: 20px;
    line-height: 33px; }
.portfolio-filter__line_big {
    font-size: 24px;
    line-height: 40px; }
@media all and (max-width: 1225px) {
    .portfolio-filter__line_small {
        font-size: 12px;
        line-height: 21px; }
    .portfolio-filter__line_middle {
        font-size: 16px;
        line-height: 33px; }
    .portfolio-filter__line_big {
        font-size: 20px;
        line-height: 40px; } }
@media all and (max-width: 767px) {
    .portfolio-filter__line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .portfolio-filter__line_small {
        font-size: 12px;
        line-height: 20px; }
    .portfolio-filter__line_middle {
        font-size: 16px;
        line-height: 28px; }
    .portfolio-filter__line_big {
        font-size: 20px;
        line-height: 30px; } }

.portfolio-filter__item {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 30px; }
.portfolio-filter__item_active {
    color: #c5a262; }

.portfolio-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
@media all and (max-width: 767px) {
    .portfolio-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

.portfolio-list__item {
    background-color: #777777;
    background-position: center;
    background-size: cover;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: calc(33.3% - 8.9% - 8.9%);
    min-width: calc(33.3% - 8.9% - 8.9%);
    height: 33vh;
    padding: 36px 8.9%;
    text-align: left; }
.portfolio-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    pointer-events: none; }
.portfolio-list__item:hover {
    color: #ffffff; }
.portfolio-list__item:hover::before {
    opacity: 1; }
.portfolio-list__item:hover > .portfolio-list__title {
    opacity: 1; }
.portfolio-list__item:hover > .portfolio-list__desc {
    opacity: 1; }
@media all and (max-width: 1225px) {
    .portfolio-list__item {
        height: 14vh; }
    .portfolio-list__item::before {
        opacity: 1; } }
@media all and (max-width: 767px) {
    .portfolio-list__item {
        max-width: calc(100% - 8.9% - 8.9%);
        min-width: calc(100% - 8.9% - 8.9%);
        height: 33vh; } }

.portfolio-list__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    display: block;
    position: relative;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    margin-bottom: 5px; }
@media all and (max-width: 1450px) {
    .portfolio-list__title {
        font-size: 24px;
        line-height: 28px; } }
@media all and (max-width: 1225px) {
    .portfolio-list__title {
        opacity: 1; } }

.portfolio-list__desc {
    font-size: 22px;
    line-height: 26px;
    display: block;
    position: relative;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms; }
@media all and (max-width: 1450px) {
    .portfolio-list__desc {
        font-size: 16px;
        line-height: 18px; } }
@media all and (max-width: 1225px) {
    .portfolio-list__desc {
        opacity: 1; } }

.case-title {
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 36px;
    line-height: 43px;
    color: #c5a262;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin: 0;
    padding-bottom: 40px; }
@media all and (max-width: 767px) {
    .case-title {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 20px; } }

.case-desc {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 120px; }
@media all and (max-width: 767px) {
    .case-desc {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px; } }

.case-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 100px; }
@media all and (max-width: 767px) {
    .case-list {
        margin-bottom: 40px; } }

.case-list__item {
    min-height: 33vw; }
.case-list__item_big {
    width: 100%; }
.case-list__item_small {
    width: 50%; }

.blog {
    margin-bottom: 76px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
@media all and (max-width: 767px) {
    .blog {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

.blog__img {
    background: #000000;
    margin-right: 40px;
    max-width: 49%;
    min-width: 49%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.blog__img > img {
    display: block;
    height: auto; }
@media all and (max-width: 767px) {
    .blog__img {
        max-width: 100%;
        min-width: 100%;
        margin: 0 0 40px 0; } }

.blog__desc {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.blog__title {
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 40px;
    line-height: 36px;
    color: #c5a262;
    margin-bottom: 10px; }
@media all and (max-width: 1450px) {
    .blog__title {
        font-size: 36px;
        line-height: 36px; } }
@media all and (max-width: 767px) {
    .blog__title {
        font-size: 26px;
        line-height: 30px; } }

.blog__date {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 35px; }
@media all and (max-width: 767px) {
    .blog__date {
        font-size: 14px;
        line-height: 16px; } }

.blog_article {
    font-size: 22px;
    line-height: 102.7%;
    color: #ffffff; }
@media all and (max-width: 767px) {
    .blog_article {
        font-size: 18px;
        line-height: 20px; } }

.production {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.production__item {
    max-width: calc(50% - 8.9% - 8.9%);
    min-width: calc(50% - 8.9% - 8.9%);
    min-height: 23.4vw;
    padding: 25px 8.9%;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-color: #777777; }
.production__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms; }
.production__item:hover {
    color: #ffffff; }
.production__item:hover::before {
    opacity: 1; }
.production__item:hover .production__title {
    opacity: 1; }
.production__item:hover .production__desc {
    opacity: 1; }
@media all and (max-width: 1225px) {
    .production__item::before {
        opacity: 1; } }
@media all and (max-width: 767px) {
    .production__item {
        max-width: calc(100% - 8.9% - 8.9%);
        min-width: calc(100% - 8.9% - 8.9%);
        padding: 40px 8.9%; } }

.production__title {
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 5px;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    position: relative;
    z-index: 2;
    display: block; }
@media all and (max-width: 1450px) {
    .production__title {
        font-size: 32px;
        line-height: 34px; } }
@media all and (max-width: 1225px) {
    .production__title {
        opacity: 1;
        font-size: 28px;
        line-height: 28px; } }

.production__desc {
    font-size: 22px;
    line-height: 26px;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    position: relative;
    z-index: 2;
    display: block; }
@media all and (max-width: 1450px) {
    .production__desc {
        font-size: 20px;
        line-height: 26px; } }
@media all and (max-width: 1225px) {
    .production__desc {
        opacity: 1;
        font-size: 16px;
        line-height: 20px; } }

.production-article {
    color: #ffffff;
    font-size: 35px;
    line-height: 36px;
    margin-bottom: 160px; }
@media all and (max-width: 1450px) {
    .production-article {
        font-size: 28px;
        line-height: 30px; } }
@media all and (max-width: 767px) {
    .production-article {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px; } }

.production-video-cover {
    max-width: 100%;
    max-height: 554px;
    margin: 0 auto 150px auto;
    background: #4a4a4a;
    position: relative;
    padding-bottom: 44.25%; }
.production-video-cover > iframe,
.production-video-cover > video {
    border: none;
    display: block; }
.production-video-cover iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
@media all and (max-width: 1450px) {
    .production-video-cover {
        margin: 0 auto 10rem auto; } }
@media all and (max-width: 1225px) {
    .production-video-cover {
        padding-bottom: 56.25%; } }
@media all and (max-width: 767px) {
    .production-video-cover {
        margin: 0 auto 30px auto;
        width: 100%; } }

.slider-video {
    overflow: hidden;
    max-width: 985px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px; }

.swiper-wrapper_horizontal {
    white-space: nowrap; }
.swiper-wrapper_horizontal .swiper-slide {
    display: inline-block;
    white-space: normal; }

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    cursor: pointer;
    -webkit-transition: border 0.4s, color 0.4s;
    transition: border 0.4s, color 0.4s;
    top: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    opacity: 0.5;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none; }
.swiper-button-prev:hover,
.swiper-button-next:hover {
    border-color: #c5a262;
    color: #c5a262; }

.slider-video .swiper-button-prev,
.slider-video .swiper-button-next {
    margin-top: -3.8rem; }

.swiper-button-prev {
    left: 0; }

.swiper-button-next {
    right: 0; }

.swiper-button-disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: default; }
.swiper-button-disabled:hover {
    border-color: #ffffff;
    color: #ffffff; }

.popup-feedback {
    max-width: 912px; }

.popup-feedback__input-label {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
    display: block; }
@media all and (max-width: 767px) {
    .popup-feedback__input-label {
        font-size: 18px; } }

.popup-feedback__input {
    background: #1d1d1d;
    padding: 0 15px;
    height: 36px;
    width: calc(100% - 30px);
    color: #ffffff;
    font-size: 16px;
    min-width: 341px;
    border: 1px solid transparent;
    -webkit-transition: border 400ms;
    transition: border 400ms; }
.popup-feedback__input:focus {
    border-color: #c5a262; }
@media all and (max-width: 1450px) {
    .popup-feedback__input {
        min-width: initial; } }

.popup-feedback__textarea {
    background: #1d1d1d;
    padding: 9px 15px;
    height: 108px;
    width: calc(100% - 30px);
    color: #ffffff;
    font-size: 16px;
    min-width: 341px;
    border: 1px solid transparent;
    -webkit-transition: border 400ms;
    transition: border 400ms;
    resize: none; }
.popup-feedback__textarea:focus {
    border-color: #c5a262; }
@media all and (max-width: 1450px) {
    .popup-feedback__textarea {
        min-width: initial; } }

.valid-error-span {
    color: red;
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap; }

.popup-feedback__input-cover {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 15px;
    position: relative;
    text-align: left; }

.popup-feedback__double-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.popup-feedback__double-column > .popup-feedback__input-cover:first-of-type {
    margin-right: 15px; }
.popup-feedback__double-column > .popup-feedback__input-cover:last-of-type {
    margin-left: 15px; }
@media all and (max-width: 767px) {
    .popup-feedback__double-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .popup-feedback__double-column > .popup-feedback__input-cover:first-of-type {
        margin-right: 0; }
    .popup-feedback__double-column > .popup-feedback__input-cover:last-of-type {
        margin-left: 0; } }

.communication-format {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 0 40px 0; }

.communication-format__item {
    position: relative;
    margin: 8px; }
.communication-format__item:first-of-type {
    margin-left: 0; }

.communication-format__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }

.communication-format__svg {
    -webkit-transition: fill 400ms;
    transition: fill 400ms; }

.communication-format__checkbox:checked + .communication-format__label .communication-format__svg {
    fill: #c5a262; }

.popup-feedback__consent {
    font-size: 10px;
    margin-top: 20px;
    color: #828282; }

.communication-format-text {
    margin: 20px 0 13px 0;
    font-size: 22px;
    text-align: left; }

.popup-feedback__consent-form-wrapper {
    position: relative;
    text-align: left;
    margin-bottom: 20px; }

.popup-feedback__consent-form {
    display: block;
    position: relative;
    padding-left: 40px;
    min-height: 27px; }
.popup-feedback__consent-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #c4c4c4; }
.popup-feedback__consent-form::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    height: 25px;
    image: url("/local/templates/yanicode/assets/images/svg/checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: none; }

.popup-feedback__consent-input {
    opacity: 0;
    position: absolute; }

.popup-feedback__consent-input:checked + .popup-feedback__consent-form::after {
    display: block; }

.popup-feedback__button-cover {
    margin-top: 40px; }

.greeting {
    background: url("/local/templates/yanicode/assets/images/greeting_bg.jpg");
    background-position: left;
    background-size: cover;
    padding: 241px 6% 481px 53%; }
@media all and (max-width: 1450px) {
    .greeting {
        padding: 5vw 6% 12vw 53%; } }
@media all and (max-width: 767px) {
    .greeting {
        padding: 5vw 16px 12vw 16px; } }

.greeting__content {
    color: #ffffff;
    font-size: 30px;
    font-family: "GothamPro-Bold", sans-serif; }
@media all and (max-width: 1225px) {
    .greeting__content {
        font-size: 20px; } }
@media all and (max-width: 767px) {
    .greeting__content {
        font-size: 16px; } }

.greeting__href {
    text-decoration: underline; }

.popup-services-cover {
    margin: -40px -100px;
    background: #c5a262;
    padding: 20px 35px 50px 35px;
    text-align: left; }
@media all and (max-width: 767px) {
    .popup-services-cover {
        margin: -16px; } }

.popup-services__title {
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px; }
@media all and (max-width: 767px) {
    .popup-services__title {
        font-size: 30px; } }

.popup-services__category {
    color: #000000;
    font-size: 34px;
    margin-bottom: 10px; }
@media all and (max-width: 767px) {
    .popup-services__category {
        font-size: 26px; } }

.popup-services__desc {
    font-size: 24px;
    color: #000000;
    line-height: 26px; }
@media all and (max-width: 767px) {
    .popup-services__desc {
        font-size: 16px;
        line-height: 18px; } }

.slider-img-smile {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 120px; }
@media all and (max-width: 767px) {
    .slider-img-smile {
        margin-bottom: 20px; } }

.slider-img-smile__el > img {
    width: 100%; }

.slider-img-big {
    width: 100%;
    overflow: hidden;
    position: relative; }

.slider-img-big__el > img {
    width: 100%; }

.article-consent {
    color: #ffffff;
    padding: 200px 0 40px 0; }
@media all and (max-width: 1450px) {
    .article-consent {
        padding: 174px 0 30px 0; } }
@media all and (max-width: 767px) {
    .article-consent {
        padding: 120px 0 20px 0; } }
